.rcw-conversation-container > .rcw-header {
  background-color: #1E77BE;
}

.rcw-client .rcw-message-text {
  background-color: #BCD2F9;
  border-radius: 10px;
  padding: 15px;
  max-width: 215px;
  text-align: left;
}

.rcw-launcher {
  background-color: #1E77BE;
}
